@model ItemCollection
<div class="row">
    <div class="col">
        <div>Name: @Model.Name</div>

        <div>Description: @Model.Description</div>

        <div>Topic: @Model.Topic</div>
    </div>
    <div class="col">
        <p>Items:</p>
        @foreach (var item in Model.Items)
        {
            <div class="row">
                <div class="col-8">
                    <a class="list-group-item alert-secondary" asp-action="ShowItem" asp-controller="Item" asp-route-Id="@item.Id">
                        @item.Name
                    </a>
                </div>
            </div>
        }
    </div>
</div>

